.contact_1{
    float: center;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.environment_li{
   margin-top: 13px;
}
.environment_li h4{
    border-bottom:1px solid aqua;
    padding: 8px;
}
.environment_li img{
    border-radius: 20px;
}
.environment_li p{
    margin-top: 10px;
}
.book{
    cursor: pointer;
}
.modal-content{
    margin-top: 100px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;
}
.list-group{
    margin-bottom: 300px;
}